.input-group {
  max-width: 600px;
  width: 100%;
}

.d-flex {
  height: auto;
  justify-content: start;
  margin-top: 50px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-custom {
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  margin-bottom: 15px;
}
