.full-screen-table-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.align-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.margen-superior {
  margin-top: 50px;
}

.full-screen-table {
  flex-grow: 1;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
}

.full-screen-paginator {
  flex-shrink: 0;
  margin-top: auto;
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
}

.mat-button.mat-light-blue {
  background-color: #03a9f4;
  color: #ffffff;
}

.align-content {
  justify-content: flex-end;
  margin-left: 50px;
  margin-top: 150px;
}

.margin-button {
  margin: 0 15px;
}

.color-icon {
  color: beige;
}

.font-color {
  color: #03a9f4;

  margin-top: 100px;
  text-align: left;
}

.centered-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.centered-icon mat-icon {
  color: #0288d1;
  position: absolute;
  left: 10%;
  font-size: 27px;
}
