<h2 mat-dialog-title>Agregar Cliente</h2>

<form [formGroup]="form">
  <mat-dialog-content class="form-container">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Nombre" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone" placeholder="Teléfono" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Fecha de Inicio</mat-label>
      <input
        matInput
        [matDatepicker]="startDatePicker"
        formControlName="startDate"
        placeholder="Fecha de Inicio"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Fecha de Fin</mat-label>
      <input
        matInput
        [matDatepicker]="endDatePicker"
        formControlName="endDate"
        placeholder="Fecha de Fin"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="endDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="closeDialog()">Cerrar</button>
    <button mat-raised-button (click)="save()">OK</button>
  </mat-dialog-actions>
</form>
